<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
     (c) Crown owned copyright 2011, 2017 (UK Ministry of Defence)
     
     All rights reserved. This program and the accompanying materials  are 
     made available under the terms of the Eclipse Public License v1.0 which
     accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
     
     This is to identify the UK Ministry of Defence as owners along with the
      license rights provided.
     
     Contributors:
     			University of Southampton - Initial implementation
 -->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://soton.ac.uk/models/eventb/oracle"
            class="ac.soton.eventb.emf.oracle.provider.OracleItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.ITableItemLabelProvider"/>
   </extension>


<!--
NOT GENERATED
The following extenion point is needed to make the EMF compare editor open when two oracle files are compared.
-->
  <extension
        point="org.eclipse.core.contenttype.contentTypes">
     <file-association
           content-type="org.eclipse.emf.compare.ui.contenttype.ModelContentType"
           file-extensions="oracle">
     </file-association>
  </extension>
  
  
</plugin>
